#content {
	padding: 0.5em;

	#content1 > div,
	#content2 > div,
	#content3 > div,
	#content4 > div {
		padding: 0 50px;
		margin: 5px 0px;
	   	font-weight: bold;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;

		h3 { 
			text-align: center;
		}

		p {
			text-align: justify;
			padding: 0 0.5em;

		}
	}

	#content1 > div {
		/* background-color: #C8A100;*/
		border: 1px solid #C8A100;
		color: #DFBF00;
	}
	
	#content2 > div {
		border: 1px solid #0066CC;
		color: #0080FF;
	}
	
	#content3 > div {
		border: 1px solid #A4254F;
		color: #C22D5E;
	}
	#content4 > div {
		border: 1px solid #32A20D;
		color: #3BBE0F;
	}
}

/*
orange bg = #c8a100 text = dfb400
blue bg = #0066cc text = #0070e3
pink bg = #A4254f text = #c22d5e
green bg = #32a20d text = #3bbe0f

*/
